<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.methleshkoshle.karmathfinal">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="m">
        <activity
            android:name="com.methleshkoshle.karmathfinal.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.methleshkoshle.karmathfinal.HomeActivity"
            android:label="कर्मठ"
            android:parentActivityName="com.methleshkoshle.karmathfinal.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="nosensor"/>
        <activity
            android:name="com.methleshkoshle.karmathfinal.pages.ContentActivity"
            android:parentActivityName="com.methleshkoshle.karmathfinal.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="nosensor"/>
        <activity
            android:name="com.methleshkoshle.karmathfinal.pages.SongActivity"
            android:label="गीत"
            android:parentActivityName="com.methleshkoshle.karmathfinal.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="nosensor"/>
        <activity
            android:name="com.methleshkoshle.karmathfinal.pages.ThoughtActivity"
            android:label="आज का विचार"
            android:parentActivityName="com.methleshkoshle.karmathfinal.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="nosensor"/>
        <activity
            android:name="com.methleshkoshle.karmathfinal.pages.FavoriteActivity"
            android:label="प्रिय"
            android:parentActivityName="com.methleshkoshle.karmathfinal.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="nosensor"/>
        <activity
            android:name="com.methleshkoshle.karmathfinal.feedback.AboutMeActivity"
            android:label="एप्लिकेशन के बारे में"
            android:parentActivityName="com.methleshkoshle.karmathfinal.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="nosensor"/>
        <activity
            android:name="com.methleshkoshle.karmathfinal.feedback.WriteActivity"
            android:label="समीक्षा लिखें"
            android:parentActivityName="com.methleshkoshle.karmathfinal.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="nosensor"/>
    </application>

</manifest>